<!DOCTYPE html>
<html>
    <head>
        <title>Fixed Layout Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="apple-touch-fullscreen" content="YES" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link href="@Url.Content("~/content/jquery.mobile-1.1.0.css" )" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/content/panes.css" )" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/content/tablet.css" )" rel="stylesheet" type="text/css" />
        <style type="text/css">
            /* Pane configuration */
            .header.row { height: 75px; line-height: 75px; }
            .body.row { top: 45px; bottom: 0; }
            .footer.row { height: 50px; bottom: 0; line-height: 50px; }
            
            /* Work around for jQM listview li's with position:relative */
            .ui-li { -webkit-transform: translateZ(0); }          
        </style>
        <script src="@Url.Content("~/scripts/jquery-1.7.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/acme/acme.transitions-1.1.js")" type="text/javascript"></script>
        <script type="text/javascript">
        //<![CDATA[
            $(document).bind("mobileinit", function () {
                $.mobile.defaultPageTransition = "slide";
                $.mobile.transitionHandlers["slide"] = acme.transitions.slide;
            });
        //]]>
        </script>
        <script src="@Url.Content("~/scripts/jquery.mobile-1.1.0.js" )" type="text/javascript"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>